In [1]:
import os
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

# read file

In [2]:
df_abt = pd.read_excel("/Users/Nicole/Desktop/FTDS/Capstone/processed/ABT_L4.xlsx",index_col='date',parse_dates=True)
df_abt.head(20)

,SMA,FAMA_x,MAMA_x,FAMA_y,MAMA_y,SlowD,SlowK,Real Middle Band,Real Upper Band,Real Lower Band,...,DJI Adj Close,GDAXI Adj Close,HSI Adj Close,IXIC Adj Close,N225 Adj Close,NYA Adj Close,RUT Adj Close,S_P Adj Close,VIX Adj Close,XAX Adj Close
date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,35.6253,NaN,NaN,NaN,NaN,NaN,NaN,35.6253,40.1699,31.0808,...,10940.530270,6835.600098,15532.33984,3940.350098,19539.69922,6574.009766,496.230011,1394.459961,24.950001,860.250000
2000-02-29,33.9587,NaN,NaN,NaN,NaN,NaN,NaN,33.9587,37.3073,30.6101,...,10128.309570,7644.549805,17169.43945,4696.689941,19959.51953,6266.419922,577.710022,1366.420044,23.370001,973.229981
2000-03-31,33.5837,NaN,NaN,NaN,NaN,NaN,NaN,33.5837,35.8804,31.2869,...,10921.919920,7599.390137,17406.53906,4572.830078,20337.32031,6848.609863,539.090027,1498.579956,24.110001,1005.030029
2000-04-28,35.5420,NaN,NaN,NaN,NaN,NaN,NaN,35.5420,40.0102,31.0738,...,10733.910160,7414.680176,15519.29980,3860.659912,17973.69922,6811.169922,506.250000,1452.430054,26.200001,922.450012
2000-05-31,38.1047,NaN,NaN,NaN,NaN,NaN,NaN,38.1047,42.6201,33.5893,...,10522.330080,7109.669922,14713.86035,3400.909912,16332.45020,6805.250000,476.179993,1420.599976,23.650000,904.969971
2000-06-30,41.2297,NaN,NaN,NaN,NaN,NaN,NaN,41.2297,46.2890,36.1703,...,10447.889650,6898.209961,16155.78027,3966.110107,17411.05078,6798.169922,517.229981,1454.599976,19.540001,935.890015
2000-07-31,42.2503,NaN,NaN,NaN,NaN,79.1447,84.3408,42.2503,45.5875,38.9132,...,10521.980470,7190.370117,16840.98047,3766.989990,15727.49023,6773.850098,500.640015,1430.829956,20.740000,906.440002
2000-08-31,43.2777,NaN,NaN,NaN,NaN,85.4148,87.0728,43.2777,45.8737,40.6816,...,11215.099610,7216.450195,17097.50977,4206.350098,16861.25977,7132.299805,537.890015,1517.680054,16.840000,943.479981
2000-09-29,44.2777,NaN,NaN,NaN,NaN,84.9502,83.4369,44.2777,49.2799,39.2755,...,10650.919920,6798.120117,15648.98047,3672.820068,15747.25977,7010.810059,521.369995,1436.510010,20.570000,954.309998
2000-10-31,48.0487,NaN,NaN,NaN,NaN,86.3502,88.5408,48.0487,55.4641,40.6332,...,10971.139650,7077.439941,14895.33984,3369.629883,14539.59961,7042.319824,497.679993,1429.400024,23.629999,909.299988
2000-11-30,51.8130,NaN,NaN,NaN,NaN,87.6664,91.0214,51.8130,58.0979,45.5281,...,10414.490230,6372.330078,13984.38965,2597.929932,14648.50977,6659.120117,445.940002,1314.949951,29.650000,846.590027
2000-12-29,52.1047,NaN,NaN,NaN,NaN,86.3731,79.5570,52.1047,57.6059,46.6034,...,10787.990230,6433.609863,15095.53027,2470.520020,13785.69043,6945.569824,483.529999,1320.280029,26.850000,897.750000
2001-01-31,49.4537,NaN,NaN,NaN,NaN,75.5613,56.1054,49.4537,57.9073,41.0000,...,10887.360350,6795.140137,16102.34961,2772.729980,13843.54980,7017.149902,508.339996,1366.010010,22.020000,930.119995
2001-02-28,47.4293,NaN,NaN,NaN,NaN,59.0405,41.4590,47.4293,51.0908,43.7679,...,10495.280270,6208.240234,14787.87012,2151.830078,12883.54004,6629.089844,474.369995,1239.939941,28.350000,907.719971
2001-03-30,47.0133,NaN,NaN,NaN,NaN,44.4017,35.6407,47.0133,50.3947,43.6320,...,9878.780273,5829.950195,12760.63965,1840.260010,12999.70020,6298.350098,450.529999,1160.329956,28.639999,877.039978
2001-04-30,47.5200,NaN,NaN,NaN,NaN,38.7364,39.1094,47.5200,49.7016,45.3384,...,10734.969730,6264.509766,NaN,2116.239990,NaN,6712.520020,485.320007,1249.459961,25.480000,951.780029
2001-05-31,48.5167,NaN,NaN,NaN,NaN,41.7436,50.4808,48.5167,53.4590,43.5743,...,10911.940430,6123.259766,13174.41016,2110.489990,13262.13965,6784.850098,496.500000,1255.819946,22.639999,939.630005
2001-06-29,48.7867,NaN,NaN,NaN,NaN,48.0809,54.6525,48.7867,53.4924,44.0809,...,10502.400390,6058.379883,13042.53027,2160.540039,12969.04980,6574.319824,512.640015,1224.380005,19.059999,917.799988
2001-07-31,51.1900,NaN,NaN,NaN,NaN,60.4459,76.2045,51.1900,55.8890,46.4910,...,10522.809570,5861.189941,12316.69043,2027.130005,11860.76953,6523.359863,484.779999,1211.229980,21.620001,896.210022
2001-08-31,50.4300,NaN,NaN,NaN,NaN,66.3707,68.2552,50.4300,55.1095,45.7505,...,9949.750000,5188.169922,11090.48047,1805.430054,10713.50977,6215.660156,468.559998,1133.579956,24.920000,873.400024

In [3]:
df_agn = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/AGN_L4.xlsx",index_col='date',parse_dates=True)
df_alxn = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/ALXN_L4.xlsx",index_col='date',parse_dates=True)
df_amgn = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/AMGN_L4.xlsx",index_col='date',parse_dates=True)
df_bax = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/BAX_L4.xlsx",index_col='date',parse_dates=True)
df_biib = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/BIIB_L4.xlsx",index_col='date',parse_dates=True)

df_bmrn = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/BMRN_L4.xlsx",index_col='date',parse_dates=True)
#df_bmy = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/BMY_L4.xlsx",index_col='date',parse_dates=True)
df_celg = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/CELG_L4.xlsx",index_col='date',parse_dates=True)
df_dhr = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/DHR_L4.xlsx",index_col='date',parse_dates=True)
df_gild = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/GILD_L4.xlsx",index_col='date',parse_dates=True)

df_ilmn = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/ILMN_L4.xlsx",index_col='date',parse_dates=True)
df_incy = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/INCY_L4.xlsx",index_col='date',parse_dates=True)
df_jnj = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/JNJ_L4.xlsx",index_col='date',parse_dates=True)
df_lh = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/LH_L4.xlsx",index_col='date',parse_dates=True)
df_lly = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/LLY_L4.xlsx",index_col='date',parse_dates=True)

df_mrk = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/MRK_L4.xlsx",index_col='date',parse_dates=True)
df_pfe = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/PFE_L4.xlsx",index_col='date',parse_dates=True)
df_regn = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/REGN_L4.xlsx",index_col='date',parse_dates=True)
df_syk = pd.read_excel("/Users/Geoffrey/Desktop/FTDS/Capstone/processed/SYK_L4.xlsx",index_col='date',parse_dates=True)

# LOOP

In [4]:
#alldf = [df_abt, df_agn, df_alxn, df_amgn, df_bax, df_biib, df_bmrn, 
         df_bmy, df_celg, df_dhr, df_gild, df_ilmn, df_incy, df_jnj,
        df_lh, df_lly, df_mrk, df_pfe, df_regn, df_syk]

In [4]:
alldf = [df_abt, df_agn, df_alxn, df_amgn, df_bax, df_biib, df_bmrn,
         df_celg, df_dhr, df_gild, df_ilmn, df_incy, df_jnj,
        df_lh, df_lly, df_mrk, df_pfe, df_regn, df_syk]

In [5]:
len(alldf)

19

## changing name for Depreciation

In [6]:
countd=[]
for i in range(len(alldf)):
    for title in alldf[i].columns:
        if title.startswith('Depreciation'):
            countd.append(1)
len(countd)

11

In [7]:
counte=[]
for i in range(len(alldf)):
    for title in alldf[i].columns:
        if title.startswith('depreciation'):
            counte.append(1)
len(counte)

9

In [8]:
for i in range(len(alldf)):
    for title in alldf[i].columns:
        if title.startswith('depreciation'):
            alldf[i].rename(columns={title:"Depreciation, Depletion and Amortization"}, inplace=True)

In [9]:
countd1=[]
for i in range(len(alldf)):
    if 'Depreciation, Depletion and Amortization' in alldf[i].columns:
        countd1.append(1)
len(countd1)

19

In [10]:
countf=[]
for i in range(len(alldf)):
    for title in alldf[i].columns:
        if title.startswith('Depreciation'):
            countf.append(1)
len(countf)

20

In [11]:
countg=[]
for i in range(len(alldf)):
    for title in alldf[i].columns:
        if title.startswith('depreciation'):
            countg.append(1)
len(countg)

0

## upper

In [12]:
for i in range(len(alldf)):
    for name in alldf[i].columns:
        alldf[i].rename(columns={name:name.upper()}, inplace=True)

## remove duplicate columns

In [13]:
shape =[]
for i in range(len(alldf)):
    shape.append(alldf[i].shape)

shape2=[]
for i in range(len(alldf)):
    alldf[i] = alldf[i].iloc[:, ~alldf[i].columns.duplicated(keep='first')]
    shape2.append(alldf[i].shape)

print(shape)
print(shape2)

[(238, 286), (238, 295), (237, 296), (238, 273), (238, 297), (238, 297), (238, 296), (232, 296), (238, 299), (240, 295), (231, 296), (238, 297), (238, 298), (238, 299), (238, 297), (238, 297), (238, 298), (238, 299), (238, 298)]
[(238, 286), (238, 295), (237, 296), (238, 273), (238, 297), (238, 297), (238, 296), (232, 295), (238, 298), (240, 294), (231, 295), (238, 296), (238, 297), (238, 299), (238, 297), (238, 297), (238, 297), (238, 298), (238, 296)]

### stock

In [14]:
counts=0
for i in range(len(alldf)):
    if 'STOCK-BASED COMPENSATION' in alldf[i].columns:
        counts+=1
print(counts) 

for i in range(len(alldf)):
    if 'STOCK-BASED COMPENSATION' in alldf[i].columns:
        alldf[i] = alldf[i].drop(['STOCK-BASED COMPENSATION'], axis=1)
    
countS=0
for i in range(len(alldf)):
    if 'STOCK-BASED COMPENSATION' in alldf[i].columns:
        countS+=1
print(countS)

8
0

In [15]:
alldf[1]

,CCI,REAL MIDDLE BAND,REAL UPPER BAND,REAL LOWER BAND,OBV,SLOWD,SLOWK,MACD,MACD_HIST,MACD_SIGNAL,...,DJI ADJ CLOSE,GDAXI ADJ CLOSE,HSI ADJ CLOSE,IXIC ADJ CLOSE,N225 ADJ CLOSE,NYA ADJ CLOSE,RUT ADJ CLOSE,S_P ADJ CLOSE,VIX ADJ CLOSE,XAX ADJ CLOSE
date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,100.0000,37.7713,41.5370,34.0056,8112700,NaN,NaN,NaN,NaN,NaN,...,10940.53027,6835.600098,15532.33984,3940.350098,19539.69922,6574.009766,496.230011,1394.459961,24.950001,860.250000
2000-02-29,94.3789,38.7087,42.8117,34.6056,-2489400,NaN,NaN,NaN,NaN,NaN,...,10128.30957,7644.549805,17169.43945,4696.689941,19959.51953,6266.419922,577.710022,1366.420044,23.370001,973.229981
2000-03-31,-94.1996,40.0003,40.5106,39.4900,-15969600,NaN,NaN,NaN,NaN,NaN,...,10921.91992,7599.390137,17406.53906,4572.830078,20337.32031,6848.609863,539.090027,1498.579956,24.110001,1005.030029
2000-04-28,89.5955,41.5420,46.3514,36.7326,-1645900,NaN,NaN,NaN,NaN,NaN,...,10733.91016,7414.680176,15519.29980,3860.659912,17973.69922,6811.169922,506.250000,1452.430054,26.200001,922.450012
2000-05-31,75.0907,42.9797,47.6627,38.2967,-21680300,NaN,NaN,NaN,NaN,NaN,...,10522.33008,7109.669922,14713.86035,3400.909912,16332.45020,6805.250000,476.179993,1420.599976,23.650000,904.969971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-28,71.8093,145.4467,182.6785,108.2149,516040100,43.7084,53.6452,-17.9221,1.0088,-18.9309,...,26599.96094,12398.799800,28542.61914,8006.240234,21275.91992,13049.709960,1566.569946,2941.760010,15.080000,2574.610107
2019-07-31,87.3120,149.9467,189.9982,109.8951,405292800,50.4240,61.1588,-16.0723,2.2869,-18.3592,...,26864.26953,12189.040040,27777.75000,8175.419922,21521.52930,13066.599610,1574.609985,2980.379883,16.120001,2539.639893
2019-08-30,23.0838,162.5500,169.4807,155.6193,326973800,67.3463,87.2350,-14.5021,3.0857,-17.5878,...,26403.27930,11939.280270,25724.73047,7962.879883,20704.36914,12736.879880,1494.839966,2926.459961,18.980000,2419.550049
2019-09-30,80.6717,162.8367,170.5751,155.0982,390286900,78.4147,86.8503,-12.4229,4.1319,-16.5548,...,26916.83008,12428.080080,26092.26953,7999.339844,21755.83984,13004.740230,1523.369995,2976.739990,16.240000,2488.159912
2019-10-09,65.9747,164.9167,172.3740,157.4593,378722461,88.2184,90.5699,-10.7760,4.6230,-15.3990,...,26909.42969,12268.709960,26683.67969,8084.160156,21392.09961,12993.959960,1541.609985,2979.389893,15.200000,2520.050049

### all at once

In [16]:
shape3 =[]
shape4 =[]

for i in range(len(alldf)):
    shape3.append(alldf[i].shape)
    
    if 'STOCK-BASED COMPENSATION' in alldf[i].columns:
        alldf[i] = alldf[i].drop(['STOCK-BASED COMPENSATION'], axis=1)
    if 'MARKET CAP' in alldf[i].columns:
        alldf[i] = alldf[i].drop(['MARKET CAP'], axis=1)
    if 'ACCOUNTS PAYABLE.1' in alldf[i].columns:
        alldf[i] = alldf[i].drop(['ACCOUNTS PAYABLE.1'], axis=1)
    if 'NET INCOME FROM CONTINUING OPERATIONS' in alldf[i].columns:
        alldf[i] = alldf[i].drop(['NET INCOME FROM CONTINUING OPERATIONS'], axis=1)
    if 'NET INCOME.1' in alldf[i].columns:
        alldf[i] = alldf[i].drop(['NET INCOME.1'], axis=1)
    if 'NET INCOME ' in alldf[i].columns:
        alldf[i] = alldf[i].drop(['NET INCOME '], axis=1)

for i in range(len(alldf)):
    shape4.append(alldf[i].shape)

print(shape3)
print(shape4)

[(238, 286), (238, 294), (237, 295), (238, 273), (238, 296), (238, 296), (238, 295), (232, 295), (238, 298), (240, 294), (231, 295), (238, 296), (238, 297), (238, 298), (238, 296), (238, 296), (238, 297), (238, 298), (238, 296)]
[(238, 283), (238, 289), (237, 290), (238, 271), (238, 293), (238, 293), (238, 292), (232, 290), (238, 295), (240, 289), (231, 292), (238, 293), (238, 294), (238, 295), (238, 293), (238, 293), (238, 294), (238, 295), (238, 293)]

# further find out 漏網之魚

In [17]:
columns = []
for i in shape4:
    columns.append(i[1])
len(columns)

19

In [18]:
max(columns)

295

In [19]:
columns.index(294)

12

In [20]:
min(columns)

271

In [22]:
columns.index(271)

3

In [22]:
m_col = []
for i in alldf[3].columns:
    if i not in alldf[13].columns:
        m_col.append(i)
print(m_col)
print(len(m_col))

['MACD_SIGNAL_X', 'MACD_X', 'MACD_HIST_X', 'MACD_SIGNAL_Y', 'MACD_Y', 'MACD_HIST_Y', 'SLOWK', 'SLOWD', 'RETURN-ON-TANGIBLE-EQUITY', 'RETURN-ON-TANGIBLE-ASSET', 'DEBT-TO-EQUITY', 'EQUITY-TO-ASSET', 'DEBT-TO-ASSET', 'GROSS-PROFIT-TO-ASSET %', 'COGS-TO-REVENUE', 'INVENTORY-TO-REVENUE', 'PRE-TAX INCOME', '  SHORT-TERM DEBT', '  SHORT-TERM CAPITAL LEASE OBLIGATION', 'SHORT-TERM DEBT & CAPITAL LEASE OBLIGATION', '  LONG-TERM DEBT', '  LONG-TERM CAPITAL LEASE OBLIGATION', 'LONG-TERM DEBT & CAPITAL LEASE OBLIGATION', 'OTHER LONG-TERM LIABILITIES', 'ADDITIONAL PAID-IN CAPITAL', 'UNNAMED: 148', 'PRICE-TO-OWNER-EARNINGS', 'PRICE-TO-TANGIBLE-BOOK', 'PRICE-TO-FREE-CASH-FLOW', 'PRICE-TO-OPERATING-CASH-FLOW', 'EV-TO-REVENUE', 'EV-TO-EBITDA', 'EV-TO-EBIT', 'NET-NET WORKING CAPITAL', 'ALTMAN Z-SCORE', 'PIOTROSKI F-SCORE', 'BENEISH M-SCORE', '5-YEAR EBITDA GROWTH RATE']
38

### remove those with _x, and keep y

In [23]:
for i in range(len(alldf)):
    for title in alldf[i].columns:
        if title.endswith('_X'):
            alldf[i]=alldf[i].drop(title, axis=1)

In [24]:
for i in range(len(alldf)):
    for name in alldf[i].columns:
        if name.endswith('_Y'):
            alldf[i].rename(columns={name:name[:-3]}, inplace=True)

In [25]:
m_col1 = []
for i in alldf[3].columns:
    if i not in alldf[13].columns:
        m_col1.append(i)
print(m_col1)
print(len(m_col1))

['MACD_SIGNA', 'MAC', 'MACD_HIS', 'SLOWK', 'SLOWD', 'RETURN-ON-TANGIBLE-EQUITY', 'RETURN-ON-TANGIBLE-ASSET', 'DEBT-TO-EQUITY', 'EQUITY-TO-ASSET', 'DEBT-TO-ASSET', 'GROSS-PROFIT-TO-ASSET %', 'COGS-TO-REVENUE', 'INVENTORY-TO-REVENUE', 'PRE-TAX INCOME', '  SHORT-TERM DEBT', '  SHORT-TERM CAPITAL LEASE OBLIGATION', 'SHORT-TERM DEBT & CAPITAL LEASE OBLIGATION', '  LONG-TERM DEBT', '  LONG-TERM CAPITAL LEASE OBLIGATION', 'LONG-TERM DEBT & CAPITAL LEASE OBLIGATION', 'OTHER LONG-TERM LIABILITIES', 'ADDITIONAL PAID-IN CAPITAL', 'UNNAMED: 148', 'PRICE-TO-OWNER-EARNINGS', 'PRICE-TO-TANGIBLE-BOOK', 'PRICE-TO-FREE-CASH-FLOW', 'PRICE-TO-OPERATING-CASH-FLOW', 'EV-TO-REVENUE', 'EV-TO-EBITDA', 'EV-TO-EBIT', 'NET-NET WORKING CAPITAL', 'ALTMAN Z-SCORE', 'PIOTROSKI F-SCORE', 'BENEISH M-SCORE', '5-YEAR EBITDA GROWTH RATE']
35

In [26]:
shape5 =[]

for i in range(len(alldf)):
    shape5.append(alldf[i].shape)

print(shape)
print(shape5)

[(238, 283), (238, 291), (237, 296), (238, 269), (238, 295), (238, 295), (238, 294), (208, 292), (232, 294), (238, 297), (240, 293), (231, 294), (238, 295), (238, 298), (238, 297), (238, 295), (238, 296), (238, 295), (238, 297), (238, 296)]
[(238, 277), (238, 285), (237, 290), (238, 263), (238, 289), (238, 289), (238, 288), (208, 286), (232, 288), (238, 289), (240, 287), (231, 288), (238, 289), (238, 291), (238, 289), (238, 289), (238, 290), (238, 288), (238, 289), (238, 289)]

In [27]:
alldf[-7]

,SMA,SLOW,SLOW,REAL UPPER BAND,REAL LOWER BAND,REAL MIDDLE BAND,MACD,MACD_SIGNAL,MACD_HIST,EMA,...,YOY EBITDA GROWTH,5YEAR EBITDA GROWTH RATE,SHARES OUTSTANDING (BASIC AVERAGE),SHARES OUTSTANDING (EOP),BETA,NUMBER OF SHAREHOLDERS,NUMBER OF EMPLOYEES,LAST PRICE,VOLUM,S_P500 ADJ CLOSE
date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,94.3543,NaN,NaN,108.8799,79.8288,94.3543,NaN,NaN,NaN,94.3543,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.031,9055200.0,1394.459961
2000-02-29,83.7710,NaN,NaN,101.4217,66.1203,83.7710,NaN,NaN,NaN,83.1772,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000,10183200.0,1366.420044
2000-03-31,76.1043,NaN,NaN,90.2603,61.9484,76.1043,NaN,NaN,NaN,76.7136,...,8.82,12.94,2779.4,2779.37,0.82,0.0,0.0,35.125,8013400.0,1498.579956
2000-04-28,74.9167,NaN,NaN,85.7359,64.0974,74.9167,NaN,NaN,NaN,79.6068,...,8.82,12.94,2779.4,2779.37,0.82,0.0,0.0,41.250,5149400.0,1452.430054
2000-05-31,80.7500,NaN,NaN,96.6612,64.8388,80.7500,NaN,NaN,NaN,84.5534,...,8.82,12.94,2779.4,2779.37,0.82,0.0,0.0,44.750,4391200.0,1420.599976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-28,137.2100,60.3232,57.6620,145.9223,128.4977,137.2100,4.0355,4.5463,0.5108,137.2822,...,28.58,3.11,2652.5,2662.32,0.76,0.0,0.0,139.280,12792462.0,2941.760010
2019-07-31,133.5500,51.3817,38.2343,141.6889,125.4111,133.5500,3.2944,4.2959,1.0015,133.7511,...,28.58,3.11,2652.5,2662.32,0.76,0.0,0.0,130.220,8559201.0,2980.379883
2019-08-30,132.6200,41.8192,29.5614,142.1603,123.0797,132.6200,2.5278,3.9423,1.4145,131.0556,...,28.58,3.11,2652.5,2662.32,0.76,0.0,0.0,128.360,7371134.0,2926.459961
2019-09-30,129.3200,27.0011,13.2075,130.8411,127.7989,129.3200,1.9797,3.5498,1.5700,130.2178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129.380,6825489.0,2976.739990
2019-10-09,128.9867,18.8327,13.7292,129.8825,128.0908,128.9867,1.5150,3.1428,1.6278,129.7189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# save everything back to the file

In [31]:
alldf[1].to_excel("AGN_L3.xlsx", index=True)

In [30]:
df_agn.shape

(238, 291)